.account-wrapper {
  background-image: url("../img/bull.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
  color: white;
}

h1 {
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
}

.deposit {
  width: 60%;
  margin: 40px auto;
  background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.8));
  padding: 20px;
  text-align: center;
  border: 1px solid gray;
}

button {
  display: block;
  width: 5em;
  margin: 7px auto;
  padding: 8px;
  background-color: #28a745;
  border: 1px solid #28a745;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

input {
  border-radius: 3px;
  padding: 5px;
  width: 30%;
}
.position_table {
  width: 60%;
  margin: 0 auto;
  background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.8));
  border: 1px solid gray;
  padding: 20px;
}

.position_table th {
  background-image: linear-gradient(to top, rgba(10,30,10,.6), rgba(36, 51, 39, 0.8));
  background-blend-mode: darken;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 5px;
}

td {
  background-image: linear-gradient(to top, rgba(34, 218, 28, .5), rgba(31, 204, 54, .5));
  text-align: center;
}

.order-detail {
  font-weight: bold;
  padding: 5px;
}

.order-detail:nth-child(1) {
  width: 15%;
}

.order-detail:nth-child(2) {
  width: 13%;
}

.order-detail:nth-child(4) {
  width: 18%;
}

.order-detail:nth-child(5) {
  width: 18%;
}