* {
  margin: 0;
  padding: 0;
}

.nav-list {
  height: 80px;
  display: flex;
  list-style: none;
  justify-content: center;
  background: linear-gradient(to top, gray, lightgray, gray);
}

.nav-item {
  margin: auto 1.5em;
  font-size: 22px;
  font-weight: 800;
}

a {
  color: rgb(46, 167, 46);
}

a:hover {
  color: black;
}
#right {
  margin-left: auto;
}

.inline {
  display: inline-block;
  margin: 1.3em 1.5em;
}