* {
  margin: 0;
  padding: 0;
}

.nav-list {
  height: 80px;
  display: flex;
  list-style: none;
  justify-content: center;
  background: linear-gradient(to top, rgb(114, 209, 118), rgb(198, 243, 198), rgb(131, 216, 136));
}

.nav-item {
  margin: 1.5em 2em;
  font-size: 20px;
  font-weight: bold;
}

#right {
  margin-left: auto;
}

.inline {
  display: inline-block;
}