/* .App {
  background-image: url("../img/bull.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 800px;
  background-color: rgba(50, 50, 180, .7);
} */

.nav-list {
  height: 50px;
  display: flex;
  list-style: none;
  justify-content: center;
  color: white;
}

.nav-item {
  margin: 0 2em;
}

#right {
  margin-left: auto;
}

.inline {
  display: inline-block;
}