.order-wrapper {
  background-image: url("../img/bull.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1100px;
  min-height: 100vh;
  
}

.Order {
  margin: 0 auto;  /* align this div in the middle horizontally */
  width: 80%;
  color: white;
  min-height: 800px;
}

#order-title {
  text-align: center;
  font-size: 35px;
  padding-top: 15px;
}

h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 25px;
}

.order-form {
  border-radius: 3px;
  margin: 50px auto;
  padding: 12px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid gray;
  background-image: linear-gradient(to top, rgba(0,0,0,.7), rgba(0,0,0,.5));
}

.order-input {
  width: 50%;
  height: 30px;
  margin: 1em auto;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid gray;
}

#order-button {
  display: block;
  width: 5em;
  margin: 0 auto;
  padding: 8px;
  background-color: #28a745;
  border: 1px solid #28a745;
  color: white;
  font-weight: bold;
  border-radius: 3px;

}

#order-button:hover {
  background-color: white;
  border: 1px solid #28a745;
  color: #28a745;
}

span {
  color: red;
}

