.Order {
  margin: 0 auto;  /* align this div in the middle horizontally */
  max-width: 600px;
  width: 80%;
  margin-top: 2em;
}

#order-title {
  text-align: center;
}

.stats {

}

.order-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.order-input {
  /* display: block; */
  width: 50%;
  margin: 1em auto;
}

#order-button {
  display: block;
  width: 5em;
  margin: 0 auto;
  padding: 10px;
  background-color: #28a745;
  border: 1px solid #28a745;
  color: white;

}

#order-button:hover {
  background-color: white;
  border: 1px solid #28a745;
  color: #28a745;
}

