
.research{
  background-image: url("../img/bull.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  /* 100vh to cover entire page */
  color: white;
  min-height: 1150px;
}

.main {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.chart {
  background: rgb(224, 222, 222);
  width: 60%;
  height: 100%;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 3px;
}

.stock-stats{
  width: 30%;
  padding: 80px 50px;
  background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.4));
  border: 1px solid gray;
  font-weight: bold;
  border-radius: 3px;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.stock-stats p {
  margin-left: 55px;
}

.news {
  margin: 70px auto;
  padding: 15px;
  width: 60%;
  background-image: linear-gradient(to top, rgba(0,0,0,.6), rgba(0,0,0,.4));
  border: 1px solid gray;
  font-weight: bold;
  border-radius: 3px;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}

.form {
  text-align: center;
  margin-bottom: 30px;
}

#search-input {
  width: 30%;
  height: 30px;
}

h3 {
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
  margin: 30px;
}

h4 {
  font-size: 18px;
  text-align: center;
}

p{
  font-weight: bold;
}

#links {
  color: white;
  text-align: center;
  font-style: italic;
}

.news-link {
  margin-bottom: 8px;
  margin-left: 200px;
}
#links:hover {
    color: rgb(40, 104, 224); 
}